calendar {
    floatx: left;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: white;
    width: 100%;
    border: solid 1px #cccccc;
    margin-bottom: 10px;
}

calendar > div.header {
    floatx: left;
    width: 100%;
    background: #2875c7;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 2%;
}

calendar > div.header > i.fa-angle-left {
    float: left;
    margin-left: 2%;
}

calendar > div.header > i.fa-angle-right {
    float: right;
    margin-right: 2%;
}

calendar > div.week {
    float: left;
    width: 100%;
    border-top: solid 1px #cccccc;
}

calendar > div.week > span.day:first-child {
    border-left: none;
}

calendar > div.week.names > span {
    color: #2875c7;
    font-weight: bold;
}

calendar > div.week > span.day.different-month {
    color: #C0C0C0;
}

calendar > div.week > span.day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: solid 1px #cccccc;
    font-size: 0.75em;
    text-align: center;
    padding-top: 1%;
    height: 30px;
    line-height: 30px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}

/*span.day img {
    width: 20px;
    float: right;
}*/
.task-type123 {
    background: #fff url('../img/123.png') no-repeat !important;
    background-size: 100% !important;
}

.task-type1 {
    background: #fff url('../img/1.png') no-repeat !important;
    background-size: 100% !important;
}


.task-type2 {
    background: #fff url('../img/2.png') no-repeat !important;
    background-size: 100% !important;
}


.task-type3 {
    background: #fff url('../img/3.png') no-repeat !important;
    background-size: 100% !important;
}


.task-type12 {
    background: #fff url('../img/12.png') no-repeat !important;
    background-size: 100% !important;
}


.task-type13 {
    background: #fff url('../img/13.png') no-repeat !important;
    background-size: 100% !important;
}


.task-type23 {
    background: #fff url('../img/23.png') no-repeat !important;
    background-size: 100% !important;
}

div.content {
    width: 100%;
    height: 100%;
    /*display: -ms-flexbox;
    -ms-flex-flow: column;*/

     /*display: -webkit-flex;
    -webkit-flex-flow: column;*//*display: -webkit-flex;
    -webkit-flex-flow: column;*/
}

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

img.task-icon {
    width: 4%;
}

div.selected-plant {
    padding-top: 2%;
    text-align: center;
}

input.month-selector {
    border: thin solid green;
    width: 100%;
}

input::-webkit-datetime-edit-year-field {
    display: none;
}

button.float-right {
    float: right;
}

textarea.text-box {
    width: 100%;
}

input[type=date] {
    width: 100%;
}

div.task-type-buttons button {
    width: 100%;
}
i.angle-pointer {
    cursor: pointer;
}